<table>
  <thead>
    <tr>

      <th>Model</th>
      <th>Engine</th>
      <th>Interior</th>
      <th>Exterior</th>
      <th>Suspension</th>
      <!-- Add more headers if you have more fields to display -->
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <td>{{project.model}}</td>
      <td>{{ project.engine }}</td>
      <td>{{ project.interior }}</td>
      <td>{{project.exterior}}</td>
      <td>{{project.suspension}}</td>

      <td>
        <button (click)="selectProject(project)">Edit</button>
        <button (click)="deleteProject(project.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
